
<mat-card>
<form (submit)="saveData(postForm)" #postForm="ngForm">
    <mat-form-field>
        <input matInput name="title" #title="ngModel"  ngModel minlength="3" required>
        <mat-error *ngIf="title.invalid">**Please Enter a Post Title</mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput rows="6" name="content" #content="ngModel" ngModel required></textarea>
        <mat-error *ngIf="content.invalid">**Please Enter a Post Content</mat-error>
    </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Save</button>
</form>
    </mat-card>